
main header,#charts{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dc-chart{
    width:100%;
    text-align: center;
}
.charts_box, .selector{
    width: 25% ;
    height: auto;
}

h2{
    font-size: 20px;
    
}
#population{
    text-align: center;
}
#stack_chart,#bar_chart{
    width: 100%;
    height: auto;
}
svg .x text{
    transform: rotate(-90deg) translate(-40px,-10px);
    
}